<!DOCTYPE html>
<html lang="en">
		<head>
				<% include ../common/head %>
		</head>
		<body>
			<header>
				
			</header>
			<main>
				<div id="hero">
		
						<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container">
		<a href="/" class="navbar-brand">
			<img src="/img/logo.png" id="brand-img">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="row collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="col-md-8 navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <% if (user) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/resources/add">Add Resource</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">Delete Account</a>
                </li>
                


                <div class="modal fade" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to your Account?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <button type="button" class="btn btn-realDanger delete-user" data-id="<%= user._id %>" >Yes</button>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            </li>
            <% } %>
            
            
            </ul>
            <div class="col-md-4 logsign justify-content-end d-flex">
                <ul class="nav navbar-nav">
                    <% if (user) { %>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" ><%= user.username %></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/logout">Logout <span class="sr-only">(current)</span></a>
                        </li>
                    <% } %>
                    <% if (!user) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/register">Sign Up <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/login">Login</a>
                        </li>
                    <% } %>
                    
                </ul>
            </div>
        </div>
	</div>
</nav>
<br>
<div class="container">
    <%- messages('message', locals) %>
</div>

						
		 	 			<div class="container"> 
							<div class="row hero-content pt-lg-6 pb-lg-6 pt-5">
								<div id="hero-txt" class="col-md-12 col-sm-12 text-center">
									<h1 class="text-center text-weight-bold" id="mtitle">Get the exact resource you need</h1>
					 				<h5 class="text-center" id="sub-title">Or Donate</h5>
									<div class="col-md-12 mt-5">
										<a href="#resource" class="btn btn-lg btn-danger mr-4 call_2_a">Explore</a>
										<a href="" class="btn btn-lg btn-danger ml-4 call_2_a">Contribute</a>
									</div>
								</div>
							</div>
							
						</div>
				</div>
				<div class ="container">
					
					<div class="row">
					<div class="col-md-12">
					
						<h3 id="resource" class="text-center font-weight-bold m-5">Resources</h3>
						<div class="list-group pb-4">
                     		<% resources.forEach(function(resource){ %>
                        	<a href="resource/<%= resource.id %>" class="list-group-item list-group-item-action">
							<%= resource.title %>
							</a>
                    		<% }); %>
						</div>
					</div>
					</div>
				</div>
			</main>
		
			<footer id="footer">
				<% include ../common/footer %>
			</footer>
			<% include ../common/script %>
		</body>
</html>